// Global Styles

$white: #fff;

*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

a {
    color: $white;
    text-decoration: none;
}

// End Global Styles


//Pre header
// @media screen and(min-width: 1365px){

    .pre-header {
        width: 100%;
        height: 6.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pre-header h3 {
        color: #151c22;
        font-family: 'Work Sans', sans-serif;
        font-size: 2.4rem;
        font-weight: 800;
        text-align: center;
    }

    // End Pre Header


    // HEADER 

    .header {
        max-width: 100%;
        min-height: 61.7rem;
        background-color: #f1f2f4;
        
        // justify-content: center;
    }

    .header__container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        position: relative;
        width: 90%;
    }


    .nav-list {
        margin-top: 4.5rem;
        justify-self: left;
        ul{
            list-style: none;
            font-family: "Work Sans";
            font-size: 16px;
            font-weight: 500;
            li{
                margin-bottom: 2.9rem;
            }
            a{
                color: #151c22 ;
            }
        }
    }

    .header__title {
        position: absolute;
        margin-top: 18.7rem;
        margin-left: 13.5rem;
        h1 {
            color: #151c22;
            font-family: 'Anton';
            font-size: 12.8rem;
            font-weight: 400;
            text-transform: uppercase;
        }
        h6{
            justify-self: left;
            font-size: 1.8rem;
            font-family: 'Work Sans';
            opacity: .4;
            font-weight: 400;
        }
    }


    .header__image {
        margin-left: 42%;
        margin-top: 4%;
        .image {
            position: relative;
            z-index: 10;
        }
        .diag1 {
            z-index: 1;
            padding-bottom: 3rem;
            background: transparent;
            position: absolute;
        }
        .diag2 {
            z-index: 1;
            margin-bottom: 10rem;
            background: transparent;
            position: absolute;
        }
    }

    .header__right {
        margin-top: 4.9rem;
        margin-left: 10.9rem;
        justify-self: right;
        
    }

    .header__icons {    
        display: flex;
        flex-direction: column;
        font-family: 'Work Sans';
        font-weight: 300;
        color: #151c22;
        font-size: 2.5rem;
    }

    .fa-shopping-cart {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        margin-bottom: 3.3rem;
    }

    .fas.fa-search {
        cursor: pointer;
    }

    .header__social-media {
        margin-top: 38.6rem;
        position: relative;
        color: #151c22;
        font-family: "Work Sans";
        font-size: 14px;
        font-weight: 500;
        // justify-self: right;
        p:first-child {
            transition: all 500ms;
        }
        p:first-child:hover {
            color: rgb(54, 19, 211);
        }
        p:last-child {
            transition: all 500ms;
        }
        p:last-child:hover {
            color: #e27bd4;
        }
    }

    .header__button {
        position: absolute !important;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 21.9rem;
        height: 6.4rem;
        background-color: #151c22;
        position: relative;
        color: #ffffff;
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 700;
        margin-top: 38.4rem;
        margin-left: 14.1rem;
    }
// }

    // BESTSELLERS SECTION

    .bestsellers {
        display: grid;
        width: 100%;
        min-height: 76.4rem;
    }

    .bestsellers__container {
        width: 85%;
        display: grid;
        margin: 0 auto;
        // display: flex;
        // flex-direction: column;
        // margin: 0 auto;
        // position: relative;
        // width: 90%;
        .bestsellers__title {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 12.1rem;
            h3 {
                color: #151c22;
                font-family: 'Work Sans';
                font-size: 3.2rem;
                font-weight: 700;
            }
            p {
                display: inline;
                cursor: pointer;
                color: #151c22;
                font-family: 'Work Sans';
                font-size: 1.8rem;
                font-weight: 500;
                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1.5px;
                    border: 1.5px solid #151c22;
                    margin: 0 auto;
                }
            }
        }
        .bestsellers__items {
            margin-top: 6.3rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
            gap:2.5rem;
            margin-top: 12.1rem;
            // grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            // gap: 3rem;
            h6 {
                margin-top: 2rem;
                color: #151c22;
                font-family: "Work Sans";
                font-size: 18px;
                font-weight: 500;
            }
            p {
                margin: 1rem 0;
                color: #151c22;
                font-family: "Work Sans";
                font-size: 16px;
                font-weight: 700;
            }
        }

        

        .bestsellers__fall {
            max-width: 117rem;
            margin-top: 12.8rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            .bestsellers__fall_title {
                position: relative;
                max-width: 47rem;
                height: 37rem;
                background: url('../img/bestsellers/diag3.jpg') center no-repeat;
                background-size: cover;
                display: flex;
                // justify-content: center;
                .title {
                    // margin: 0 auto;
                    position: relative;
                    width: 40rem;
                    height: 30.8rem;
                    display: flex;
                    flex-direction: column;
                    align-self: center;
                    .title_pos {
                        margin: 0 auto;
                    }
                    .fall__btn {
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        margin-top: 4.9rem;
                        a{
                            color: #ffffff;
                            align-self: center;
                            font-family: "Work Sans";
                            font-size: 16px;
                            font-weight: 700;
                        }
                        width: 200px;
                        height: 64px;
                        background-color: #151c22;
                    }
                    align-self: center;
                    width: 400px;
                    height: 308px;
                    background-color: #f1f2f4;
                    h6 {    
                        margin-top: 6.5rem;
                        color: #727a82;
                        font-family: "Work Sans";
                        font-size: 1.8rem;
                        font-weight: 400;
                    }
                    h3 {
                        margin-top: 1.1rem;
                        color: #151c22;
                        font-family: "Work Sans";
                        font-size: 3.2rem;
                        font-weight: 700;
                    }

                }
            }
        }
    }

    // CATEGORY SECTION
    .category {
        display: grid;
        width: 100%;
        margin-top: 12.1rem;
        .category__title {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .category__container{
            width: 85%;
            display: grid;
            margin: 0 auto;
            h3 {
                color: #151c22;
                font-family: 'Work Sans';
                font-size: 3.2rem;
                font-weight: 700;
            }
            p {
                display: inline;
                cursor: pointer;
                color: #151c22;
                font-family: 'Work Sans';
                font-size: 1.8rem;
                font-weight: 500;
                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1.5px;
                    border: 1.5px solid #151c22;
                    margin: 0 auto;
                }
            }
            .category__items {
                margin-top: 6.3rem;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
                gap:2.5rem;
                h6 {
                    color: #151c22;
                    font-family: "Work Sans";
                    font-size: 18px;
                    font-weight: 500;
                    margin-top: 2rem;
                }
            }
        }
    }

    // FOOTER
    .footer {
        margin-top: 10.3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #151c22;
        height: 22.2rem;
        color: #fff;
        h3 {
            margin-top: 4.4rem;
            font-family: "Work Sans";
            font-size: 24px;
            font-weight: 800;
        }
        ul {
            font-family: "Work Sans";
            font-size: 18px;
            font-weight: 500;
            list-style: none;
            display: flex;
            margin-top: 3rem;
        }
        ul li {
            margin: 0 3.5rem;
        }
        .footer_social-media {
            margin-top: 3.5rem !important;
            font-size: 2rem;
            display: flex;
            .fab {
                cursor: pointer;
                margin: 0 2.8rem;
                transition: all 600ms;
            }
            .fa-facebook-f:hover {
                color: rgb(54, 19, 211);
            }
            .fa-instagram:hover {
                color: #e27bd4;
            }
            .fa-pinterest:hover {
                color: #ee0d0d
            }
            .fa-twitter:hover {
                color: #3584eb
            }
        }
    }
// }
// 
.fallimg1 {
    display: none;
}

.main_image_768 {
    display: none;
}

// MEDIA QUERIES

@media screen and (max-width: 1365px) {
    //HEADER
    .header__title {
        position: absolute;
        margin-top: 18.7rem;
        margin-left: 13.5rem;
        h1 {
            color: #151c22;
            font-family: 'Anton';
            font-size: 8rem;
            font-weight: 400;
            text-transform: uppercase;
        }
        h6{
            justify-self: left;
            font-size: 1.5rem;
            font-family: 'Work Sans';
            opacity: .4;
            font-weight: 400;
        }
    }

    .header__button {
        margin-top: 35rem;
    }

    .nav-list {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }

    .main_image_1366 {
        display: none;
    }

    .main_image_768 {
        display: block;
        margin-top: 8.3rem;
    }

    // FALL SECT
    .bestsellers__fall_title {
        width: 100%;
        background: url('../img/bestsellers/diag768.jpg') center !important;
        // background-size: cover;
        display: flex;
        .title__pos {
            width: 30rem !important;
        }
    }

    .fallimg {
        display: none !important;
    }
    .fallimg1 {
        display: block !important;
    }
}